/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 déc. 2022, 09:06:31
    Author     : egor.gututui
*/

#Presentation { 
    display : flex;
    flex-direction: row;
}
