.jumbotron img {
    width: 500px;
}

#presentation  {
    display: flex;
    flex-direction: column;
}


#presentation h2, p, img {
    text-align: center;
}

#presentation img,video {
    width: 40%;
    margin-left: auto;
    margin-right: auto
}

#presentation a {
    display: block;
    text-align: center;
    color: green;
    font-size: xx-large;
    margin-top: 20px;
    
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.jumbotron {
    margin-bottom: 0px;
}
