/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 déc. 2022, 18:25:05
    Author     : egor_
*/
body {
    background-color: orange;
}
.presentation  {
    display: flex;
}

.presentation img {
    width: 128px;
    margin-right : 10px;
}